<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>
<body>
    <div class="main">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="inputFile" accept="image/*" required/>
            <button type="submit" value="Submit">Submit</button>
        </form>
        <a href="images">All Images</a>
        <%= message == null ? "" : message %>
    </div>
</body>
</html>